---
layout: page
---

<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Poster Session</h2>
        <hr class="star-primary">
        <br>
        <p>
          The Poster Session will take place over two evenings: May 21st from 6:30 to 8:00 pm and May 22nd from 7:00 to 9:00 pm. 
          Both session will feature presentations of both posters and digital demonstrations, which are detailed below.
        </p>
      </div>
    </div>
  </div>
</section>

<section class='success' id="posters">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Posters</h3>
        <hr class="star-light">
        <br>
      </div>
    </div>
    <div class='row'>
      {% for abstract in site.categories.poster %}
        <div class="col-lg-2 col-lg-offset-2">
          <p>{{ abstract.posternumber }}</p>
        </div>
        <div class="col-lg-6">
          <p><a href="https://ccsc2024.github.io/{{ abstract.link }}" target="_blank" style="font-size:20px;color:#ffffff;">
                <b>{{ abstract.speaker }}</b>, {{ abstract.location }}</a>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="digi-demos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Digital Demonstrations</h3>
        <hr class="star-primary">
        <br>
      </div>
    </div>
    <div class='row'>
      {% for demo in site.categories.digidemo %}
        <div class="col-lg-2 col-lg-offset-2">
            <p>{{ demo.demonumber }}</p>
          </div>
          <div class="col-lg-6">
            <p><a href="https://ccsc2024.github.io/{{ abstract.link }}" target="_blank" style="font-size:20px;color:#3f0a74;">
                  <b>{{ demo.speaker }}</b>, {{ demo.location }}</a>
            </p>
          </div>
      {% endfor %}
    </div>
  </div>
</section>

