---
layout: page
---

<section id="registration">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Registration</h2>
        <hr class="star-primary">
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>Fields marked with * have to be filled.</p>
          <br><br>
          <h3>Personal Data</h3>
          <hr class="star-primary">
          <br><br>
        </div>
      </div>
      <form action="https://formspree.io/f/myyqkndv" method="POST" name="sentMessage" id="contactForm" novalidate>
      <!-- Salutation -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
          <p><label>Salutation*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <p><select name="salutation" required>
            <option value="none">- please select -</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
          </select></p>
        </div>
      </div>
      </div>
      <!-- Title -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
          <p><label>Title</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <p><select name="academic title" >
            <option value="none">- please select -</option>
            <option value="Dr.">Dr.</option>
            <option value="Jun. Prof.">Jun. Prof.</option>
            <option value="Prof. Dr.">Prof. Dr.</option>
            <option value="Prof.">Prof.</option>
          </select></p>
        </div>
      </div>
      </div>
      <!-- First Name -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>First name*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="firstName" class="form-control" required placeholder="First name" id="txtForm"
          data-validation-required-message="Please enter your first name.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      </div>
      <!-- Surname -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Surname*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="lastName" class="form-control" required placeholder="Surname" id="txtForm"
          data-validation-required-message="Please enter your last name.">
          <p class="help-block text-danger"></p> 
        </div>
      </div>
      </div>
      <!-- Mail -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>E-Mail*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="email" name="_replyto" class="form-control" placeholder="E-Mail" required id="txtForm"
          data-validation-required-message="Please enter your phone number.">
          <p class="help-block text-danger"></p>               
        </div>
      </div>
      </div>
      <!-- Phone -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Phone</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input name="phone" type="phone" class="form-control" placeholder="Phone" id="txtForm">
        </div>
      </div>
      </div>
      <!-- Company -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Company</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="company" class="form-control" placeholder="Company" id="txtForm">
        </div>
      </div>
      </div>
      <!-- Department -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Department</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="department" class="form-control" placeholder="Department" id="txtForm">
        </div>
      </div>
      </div>
      <!-- address -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Address*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="address" class="form-control" required placeholder="Address" id="txtForm"
          data-validation-required-message="Please enter your billing address.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      </div>
      <!-- postal code -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Postal code*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="zip" class="form-control" required placeholder="Postal code" id="txtForm"
          data-validation-required-message="Please enter your billing ZIP.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      </div>
      <!-- city -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>City*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="city" class="form-control" required placeholder="City" id="txtForm"
          data-validation-required-message="Please enter your billing city.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      </div>
      <!-- Country -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Country*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <p>{% include countries.html %}</p>
        </div>
      </div>
      </div>
      <br><br>
      <!-- Abstract -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>Authors of the Abstract</h3>
          <hr class="star-primary">
          <br><br>
        </div>
      </div>
      <!-- Presenting Author -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Surname presenting author*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="lastName_PA" class="form-control" required placeholder="Surname presenting author" id="txtForm"
          data-validation-required-message="Please enter your last name.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Initial(s) first name presenting author (<i>e.g.</i> M.)*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="firstName_PA" class="form-control" required placeholder="Initial(s) first name presenting author" id="txtForm"
          data-validation-required-message="Please enter the initials of your first name(s).">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      </div>
        <!-- Company -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Company presenting author*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="company_PA" class="form-control" required placeholder="Company presenting author" id="txtForm"
          data-validation-required-message="Please enter your affiliation company.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      </div>
      <!-- City -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>City presenting author*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <input type="text" name="city_PA" class="form-control" required placeholder="City presenting author" id="txtForm"
          data-validation-required-message="Please enter your affiliation city.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      </div>
      <!-- country -->
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Country presenting author*</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <p>{% include countries.html %}</p>
        </div>
      </div>
      </div>
      <br><br>
      <!-- Co-author(s) -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>Co-author(s)</h3>
          <hr class="star-primary">
          <br><br>
        </div>
      </div>
      <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <p><label>Initial(s) first name(s) and surname(s) of co-author(s) (<i>e.g.</i> M. Muster, T. Mann)</label></p>
      </div>
      <div class="col-lg-5">
        <div class="row control-group">
          <p><input type="text" name="name_CAs" class="form-control" placeholder="Initial(s) first name(s) and surname(s) of co-author(s)" id="txtForm"/></p>
        </div>
      </div>
      </div>
      <br><br>
      <!-- Abstract -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>Abstract Submission</h3>
          <hr class="star-primary">
          <br><br>
        </div>
      </div>
      <!-- Title of presentation -->
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
          <p><label>Title of presentation*</label></p>
        </div>
        <div class="col-lg-5">
          <div class="row control-group">
            <input type="text" name="title_Presentation" class="form-control" required placeholder="Title of presentation " id="txtForm"
            data-validation-required-message="Please enter the title of your contribution.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>
      <!-- abstract of presentation -->
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
          <p><label>Abstract*</label></p>
        </div>
        <div class="col-lg-5">
          <div class="row control-group">
            <p><textarea name="abstract" type="text" class="form-control" required 
              placeholder="Abstract" id="txtForm" 
              data-validation-required-message="Please enter your abstract in plain, markdown or LaTeX style."></textarea>
            </p>
          <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>
      <!-- Change to poster -->
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
          <p><label>Contribution can be changed to poster</label></p>
        </div>
        <div class="col-lg-5">
          <div class="row control-group">
            <p><label><input type="checkbox" name="change_poster" value="Yes" id="txtForm"> Yes</label></p>
          </div>
        </div>
      </div>
      <!-- Change to talk -->
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
          <p><label>Contribution can be changed to speed talk (15 min) </label></p>
        </div>
        <div class="col-lg-5">
          <div class="row control-group">
            <p><label><input type="checkbox" name="change_speedTalk" value="Yes" id="txtForm"> Yes</label></p>
          </div>
        </div>
      </div>
      <!-- Field -->
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
          <p><label>States of Matter*</label></p>
        </div>
        <div class="col-lg-5">
          <div class="row control-group">
            <p><select name="topic" >
            <option value='main_topic'>Main Topic </option>
            <option value="MD">Machine Learning (General) </option>
            <option value="MD">Machine Learning Molecular Dynamics (Ground State)</option>
            <option value="Photodynamics">Machine Learning Molecular Dynamics (Excited States)</option>
            <option value="descriptors">Molecular Descriptors and Representations</option>
            <option value="database">Construction/Curation of Databases </option>
            <option value="QC">Quantum Chemical Methods</option>
            <option value="semi_empiric">Semiempirical Methods</option>
            <option value="no_topic">Does not apply (independent of any state of matter)</option>
          </select></p>
          </div>
        </div>
      </div>
      <br><br>
      <!-- Send button -->
      <div id="success"></div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>Fields marked with * have to be filled.</p>
          <br><br>
          <div class="form-group col-xs-12">
            <!-- <button type="submit" class="btn btn-success btn-lg">Submit</button> -->
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</section>
