/* Formatting rules */

img.zoom {
  cursor: zoom-in;
}

img.zoom:active {
  transform:scale(2);
}

#references li::marker {
  content: "[" counter(list-item) "]  ";
}

ref-journal { font-style: italic; }
ref-year { font-weight: bold; }
ref-volume { font-style: italic; }
ref-author, ref-pages { font-style: normal; }

p + p {
  text-indent: 2ch;
}

p {
  max-width: 60ch;
  text-align: justify;
  color:#3f0a74;
}
