---
layout: page
---
<section id="poster">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>List of Speakers</h2>
        <hr class="star-primary">
        <br>
      </div>
    </div>
  </div>
</section>
<br>
<section class="success" id="keynote talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Keynote Talks</h2>
        <hr class="star-light">
        <br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-2">
        <ul>
          {% for kt in site.categories.keynote %}
          <li><a href="https://ccsc2024.github.io/talks/{{ kt.talklink }}" target="_blank" style="font-size:20px;color:#FFFFFF;">
            <b>{{ kt.title }}</b>, {{ kt.affiliation }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<br>
<section id="invited talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Invited Talks</h2>
        <hr class="star-primary">
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
          <ul>
          {% for it in site.categories.invited %}
            <li><a href="https://ccsc2024.github.io/talks/{{ it.talklink }}" target="_blank" style="font-size:20px;color:#5d308a;">
              <b>{{ it.title }}</b>, {{ it.affiliation }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>  
  </div>
</section>
<br>
<section  class="success" id="contributed talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contributed Talks</h2>
        <hr class="star-primary">
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
          <ul>
          {% for ct in site.categories.contributed %}
            <li><a href="https://ccsc2024.github.io/talks/{{ ct.talklink }}" target="_blank" style="font-size:20px;color:#FFFFFF;">
              <b>{{ ct.title }}</b>, {{ ct.affiliation }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>  
  </div>
</section>
