---
layout: page
---
<section id="poster">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>List of Speakers</h2>
        <hr class="star-primary">
        <br>
      </div>
    </div>
  </div>
</section>
<br>
<section class="success" id="keynote talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Keynote Talks <i class="fa-solid fa-key" style="font-size:24px;color:#ffffff;"></i> </h3>
        <hr class="star-light">
        <br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-2">
        <ul>
          {% for kt in site.categories.keynote %}
          <li><a href="https://ccsc2024.github.io/talks/{{ kt.talklink }}" target="_blank" style="font-size:20px;color:#FFFFFF;">
            <b>{{ kt.title }}</b>, {{ kt.affiliation }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<br>
<section id="invited talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Invited Talks <i class="fa-solid fa-chalkboard-user" style="font-size:24px;color:#5d308a;"></i> </h3>
        <hr class="star-primary">
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
          <ul>
          {% for it in site.categories.invited %}
            <li><a href="https://ccsc2024.github.io/talks/{{ it.talklink }}" target="_blank" style="font-size:20px;color:#5d308a;">
              <b>{{ it.title }}</b>, {{ it.affiliation }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>  
  </div>
</section>
<br>
<section class="success"  id="invited talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Invited Communication Talks <i class="fa-solid fa-comment" style="font-size:24px;color:#ffffff;"></i> </h3>
        <hr class="star-light">
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
          <ul>
          {% for it in site.categories.comms %}
            <li><a href="https://ccsc2024.github.io/{{ it.link }}" target="_blank" style="font-size:20px;color:#ffffff;">
              <b>{{ it.speaker }}</b>, {{ it.location }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>  
  </div>
</section>
<br>
<section id="contributed talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Speed Talks <i class="fa-solid fa-bolt" style="font-size:24px;color:##5d308a;"></i> </h3>
        <hr class="star-primary">
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
          <ul>
          {% for ct in site.categories.speedtalk %}
            <li><a href="https://ccsc2024.github.io/{{ ct.link }}" target="_blank" style="font-size:20px;color:##5d308a;">
              <b>{{ ct.speaker }}</b>, {{ ct.location }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>  
  </div>
</section>
