<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Expansive and richly varied data sets encompassing both equilibrium and reactive structures are increasingly laying the groundwork for 
          the advancement and calibration of Quantum Machine Learning (QML). These QML models harness a physics-informed understanding of Chemical 
          Compound Space (CCS), defined by a multitude of structural and compositional variables. 
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          The CCS Conference 2024 (CCSC 2024) in Heidelberg aspires to cultivate and fortify a global scholarly network by convening experts, mid-career 
          professionals, and emerging scientists. The forum aims to facilitate the exchange of groundbreaking findings, ignite intellectually enriching 
          dialogues, and crystalize avenues for future research endeavors.
        </p>
      </div>
      <br><br>
      <br><br>
      <div class="col-lg-12 text-center">
        <p>
          Note that just before <b>CCSC 2024</b> the <i><a href="https://simplaix-workshop2024.h-its.org/" target="_blank" style="color:#9969d6;"> 2<sup><i>nd</i></sup> SIMPLAIX Workshop</a></i> 
          on Machine Learning for Multiscale Molecular Modeling will take place in Heidelberg on May 15-17.
          Monday, May 21, is a public holiday (Pentecost).
        </p>
      </div>
    </div>
  </div>
</section>
