<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sponsors</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>We acknowledge financial support of the conference by ERC 772834 (QML: Quantum Machine Learning: Chemical Reactions with 
          Unprecedented Speed and Accuracy) and the following companies:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
          <a href="https://www.rsc.org/journals-books-databases/about-journals/pccp/"><img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/PCCP Journal-Promo-82x25-graphite_2400dpi.jpg" alt="PCCP"/></a>
      </div>
      <div class="col-lg-4">
          <a href="https://iopscience.iop.org/journal/2632-2153"><img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/MLST_Logo.jpg" alt="MLST"/></a>
      </div>
      <br>
      <div class="col-lg-4 col-lg-offset-2">
        <a href="https://onlinelibrary.wiley.com/"><img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/Wiley-Led-VCH-Logo-horiz.png" alt="Wiley" /></a>
      </div>
      <div class="col-lg-4">
          <a href="https://rsc.li/digital-discovery"><img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/DD_logo.png" alt="Digital Discovery"/></a>
      </div>
      <br>
      <div class="col-lg-4 col-lg-offset-2">
        <a href="https://www.merckgroup.com/en"><img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/MDG_Logo_RPurple_RGB.png" alt="Merck"/></a>
      </div>
      <div class="col-lg-4">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/ERC_ori.png" alt="ERC"/>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Local Scientific Environment</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="list-inline">
          <li><a href="https://www.h-its.org/research/simplaix/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/SIMPLAIX_Logo.png" height='150' alt="SIMPLAIX" /></a></li>
          <li><a href="https://www.thphys.uni-heidelberg.de/~structures/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/STRUCTURES_logo.png" height='100' alt="STRUCTURES" /></a></li>
          <li><a href="https://www.uni-heidelberg.de/de/transfer/service-transfer/kongress-und-tagungs-management"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/Uni_Heidelberg_Logo.png" height='100' alt="Uni Heidelberg" /></a></li>
        </ul>
        <!-- <br><br>
        <ul class="list-inline">
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
        </ul> -->
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Organizing University</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/TUBerlin.png" alt="TUB"/>
      </div>
    </div>
  </div>
</section>
