<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sponsors</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>We acknowledge financial support of the conference by ERC 772834 (QML: Quantum Machine Learning: Chemical Reactions with 
          Unprecedented Speed and Accuracy) and the following companies:
        </p>
        <ul class="list-inline">
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/PCCP Journal-Promo-82x25-graphite_2400dpi.jpg" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/sponsors/Wiley-Led-VCH-Logo-horiz.png" height='100' alt="Logo" /></li>
          <!-- <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li> -->
        </ul>
        <!-- <br><br>
        <ul class="list-inline">
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Local Scientific Environment</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="list-inline">
          <li><a href="https://www.h-its.org/research/simplaix/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/SIMPLAIX_Logo.png" height='150' alt="SIMPLAIX" /></a></li>
          <li><a href="https://www.thphys.uni-heidelberg.de/~structures/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/Uni_Heidelberg_Logo.png" height='150' alt="Uni Heidelberg" /></a></li>
          <li><a href="https://www.uni-heidelberg.de/de/transfer/service-transfer/kongress-und-tagungs-management"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/STRUCTURES_logo.png" height='100' alt="STRUCTURES" /></a></li>
        </ul>
        <!-- <br><br>
        <ul class="list-inline">
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
        </ul> -->
      </div>
    </div>
  </div>
</section>
