<!DOCTYPE html>
<html>
{% include head.html %}
  
<body id="page-top" class="index">
  
  {% include nav.html %}
  <section id="poster">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <br><br>
          <h3>Poster #{{ page.posternumber }}</h3>
          <hr class="star-primary">
          <br><br>
        </div>
      </div>
      <!-- abstract -->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>{{ page.title }}</h4>
          <br><br>
          <ul class="list-inline" style="font-size:16px;">
            <li><i class="fa-solid fa-user" style="font-size:20px;color:#A4004F;"></i>&nbsp{{ page.speaker }}</li>
            <li><i class="fa-solid fa-location-dot" style="font-size:20px;color:#A4004F;"></i>&nbsp {{ page.location }}</li>
          </ul>
          <br>
          <hr class="star-primary">
          <br><br>
          <p>{{ page.abstract }}</p>
        </div>
      </div>
    </div>
  </section>
  
  {% include footer.html %}
  {% include js.html %}
</body>
  
</html>
