<!DOCTYPE html>
<html>
{% include head.html %}
  
<body id="page-top" class="index">
  
  {% include nav.html %}
  <section id="poster">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <br><br>
          <h3>Poster #{{ page.posternumber }}</h3>
          <hr class="star-primary">
          <br><br>
        </div>
      </div>
      <!-- abstract -->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>{{ page.title }}</h4>
            <p class="authors">
              {{ page.authors | replace: "[", "<sup>" | replace: "]", "</sup>" }}
            </p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {%- for paragraph in page.abstract %}
            <p>{{ paragraph }}</p>
          {%- endfor %}
          {%- if page.abstractfigure %}
          <br><br>
            <img src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/abstractfigures/{{ page.abstractfigure }}" class="img-responsive">
            {%- if page.figuretext %}
              <p>
                <b>Fig. 1</b> {{ page.figuretext }}
              </p>
            {%- endif %}
          {%- endif %}
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {%- if page.references %}
            <ol style="font-size:16px;">
            {%- for ref in page.references %}
                <li> {{ ref[0] }}
                  {%- if ref[1] %}, <i>{{ ref[1] }}</i> {%- endif %}
                  {%- if ref[2] %} <b>{{ ref[2] }}</b>{%- endif %}
                  {%- if ref[3] %}, <i>{{ ref[3] }}</i>{%- endif %}
                  {%- if ref[4] %}, {{ ref[4] }} {%- endif %}.
                </li>
            {%- endfor %}
            </ol>
          {%- endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <br><br>
          <hr class="star-primary">
          <br><br>
          <ul class='list-inline' style="font-size:20px;">
            <li><i class="fa-solid fa-user" style="font-size:20px;color:#3f0a74;"></i>&nbsp{{ page.speaker }}</li>
            <li><i class="fa-solid fa-location-dot" style="font-size:20px;color:#3f0a74;"></i>&nbsp {{ page.location }}</li>
          </ul>
          <br>
        </div>
      </div>
    </div>
  </section>
  
  {% include footer.html %}
  {% include js.html %}
</body>
  
</html>
